<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>
    
<!-- Message block -->
<%- messages() %>


<% if (locals.loggedin) { %>

<!-- The add review form displays here  -->
<form id="deleteReviewForm" action="/review/delete" method="post">
    <p class="note">Confirm Deletion - The delete is permanent.</p>

    <div class="account-form">

      <label for="review_date">Date created</label>
      <input type="text" name="review_date" id="reviewDate" disabled value="<%= review_date.toLocaleString() %>">

      <label for="review_text">Review</label>
      <textarea name="review_text" id="reviewText" rows="4" cols="50" disabled><%= review_text %></textarea>
  
      <button type="submit">Delete review</button>

      <input type="hidden" name="review_id"
      <% if(review_id) { %> value="<%= review_id %>"
      <% } %>>

    </div>
    
</form>
<% } %>