<!-- The content heading -->
<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>
    
<!-- Message block -->
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<!-- The delete inventory form displays here  -->
<p class="note">Confirm Deletion - The delete is permanent.</p>
<form id="deleteInventoryForm" action="/inv/delete" method="post">
    <div class="account-form">
      <label for="inv_make">Make</label>
      <input type="text" readonly <% if(locals.inv_make) { %>
      value="<%= locals.inv_make %>" <% } %>>

      <label for="inv_model">Model</label>
      <input type="text" readonly <% if(locals.inv_model) { %>
      value="<%= locals.inv_model %>" <% } %>>

      <label for="inv_price">Price</label>
      <input type="number" readonly <% if(locals.inv_price) { %>
      value="<%= locals.inv_price %>" <% } %>>

      <label for="inv_year">Year</label>
      <input type="number" readonly <% if(locals.inv_year) { %>
      value="<%= locals.inv_year %>" <% } %>>      
      
      <button type="submit">Delete</button>

      <input type="hidden" name="inv_id"
      <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
      <% } %>>

    </div>
</form>

